<footer class="footer-padding">
  <div class="footer">
    <img src="img/footer-logo.svg" alt="logo">
    <div class="text-footer">
      <p>426057, Россия, Удмуртская Республика, г. Ижевск, ул. Карла Маркса, 246 (ДК «Металлург»)</p>
      <p>+7 (3412) 93-88-61, 43-29-29</p>
      <a href="htc-cs.ru">htc-cs.ru</a>
    </div>
  </div>
</footer>
<script src="js/index.js"></script>
</body>
</html>
