<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>VideoService</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/scroll-bar.css" />
  </head>
  <body class="mother">
    <header>
      <nav class="navbar navbar-default">
        <div class="navbar-header header">
          <div class="brand">
            <img src="img/sign.svg" alt="sign" />
            <p class="navbar-brand">
              Видеосервис
            </p>
          </div>
          <div class="search">
            <input
              class="form-control"
              type="text"
              placeholder="Поиск..."
              aria-label="Search"
            />
            <a href="#">Найти</a>
          </div>

          <button
            id="button-login"
            class="button-header"
            onclick="document.getElementById('id01').style.display='block'"
          >
            Войти
          </button>
          <div id="authorized">
            <input
              type="text"
              id="new-username"
              value=" "
              size="10"
              style="display: none;"
              onfocusout="saveNewName()"
            />

            <p id="text-username" onclick="makeUnicornsFly()">
              <%= username ? username : '' %>
            </p>
            <a href="" id="back" onclick="backHome()">Выйти</a>
          </div>
        </div>
      </nav>
    </header>

    <!-- The Modal -->
    <div id="id01" class="modal">
      <form class="modal-content animate">
        <div class="form-box">
          <div class="form-box-content">
            <h2>Вход</h2>
            <input type="text" placeholder="Логин" name="name" required />

            <input type="password" placeholder="Пароль" name="password" />
            <div style="width: 100%;">
              <input
                type="checkbox"
                checked="checked"
                name="remember"
                id="remember-me"
              />
              <label for="remember-me">
                <span class="remember-btn-content">Запомнить</span>
              </label>
            </div>
          </div>

          <button onclick="login()">Войти</button>
        </div>
      </form>
    </div>
  </body>
</html>
