<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>VideoService</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="navbar-header header">
          <div class="brand">
            <img src="img/sign.svg" alt="sign" />
            <p class="navbar-brand">
              Видеосервис
            </p>
          </div>
          <div class="search">
            <input
              class="form-control"
              type="text"
              placeholder="Поиск..."
              aria-label="Search"
            />
            <a href="#">Найти</a>
          </div>
          <button class="button-header">Войти</button>
        </div>
      </nav>
    </header>
  </body>
</html>
