<div id="channels" class="tabcontent" style="display: none;" >
  <div class="wrapper-for-scroll" id="wrapper-scroll">
    <div class="channel">
          <div class="channel-logo">
              <img src="img/1c.svg" alt="Первый канал">
          </div>
         
          <div class="channel-info">
          <h4 class="channel-title">Первый канал</h4>
            <div class="channel-schedule">
                <div>
                    <p class="time">13.00</p>
                    <p class="program">Новости (с субтитрами)</p>
                </div>
                <div>
                    <p class="time">14.00</p>
                    <p class="program">Давай поженимся</p>
                </div>
                <div>
                    <p class="time">15.00</p>
                    <p class="program">Другие новости</p>
                </div> 
            </div>
          </div>
      </div>
    <div class="channel">
          <div class="channel-logo">
              <img src="img/2c.svg" alt="2x2">
          </div>
         
          <div class="channel-info">
          <h4 class="channel-title">2x2</h4>
            <div class="channel-schedule">
                <div>
                    <p class="time">13.00</p>
                    <p class="program">МУЛЬТ ТВ. Сезон 4, 7 серия</p>
                </div>
                <div>
                    <p class="time">14.00</p>
                    <p class="program">ПОДОЗРИТЕЛЬНАЯ СОВА. Сезон 7, 7 серия</p>
                </div>
                <div>
                    <p class="time">15.00</p>
                    <p class="program">БУРДАШЕВ. Сезон 1, 20 серия</p>
                </div> 
            </div>
          </div>
      </div>
    <div class="channel">
          <div class="channel-logo">
              <img src="img/3c.svg" alt="Первый канал">
          </div>
         
          <div class="channel-info">
          <h4 class="channel-title">РБК</h4>
            <div class="channel-schedule">
                <div>
                    <p class="time">13.00</p>
                    <p class="program">ДЕНЬ. Горючая смесь: как бороться с суррогатом на АЗС</p>
                </div>
                <div>
                    <p class="time">14.00</p>
                    <p class="program">ДЕНЬ. Главные темы</p>
                </div>
                <div>
                    <p class="time">15.00</p>
                    <p class="program">Главные новости</p>
                </div> 
            </div>
          </div>
      </div>
    <div class="channel">
          <div class="channel-logo">
              <img src="img/4c.svg" alt="Первый канал">
          </div>
         
          <div class="channel-info">
          <h4 class="channel-title">AMEDIA PREMIUM</h4>
            <div class="channel-schedule">
                <div>
                    <p class="time">13.00</p>
                    <p class="program">Клиент всегда мёртв</p>
                </div>
                <div>
                    <p class="time">14.00</p>
                    <p class="program">Голодные игры: Сойка-пересмешница. Часть I</p>
                </div>
                <div>
                    <p class="time">15.00</p>
                    <p class="program">Секс в большом городе</p>
                </div> 
            </div>
          </div>
      </div>
    <div class="channel">
          <div class="channel-logo">
              <img src="img/1c.svg" alt="Первый канал">
          </div>
         
          <div class="channel-info">
          <h4 class="channel-title">Первый канал</h4>
            <div class="channel-schedule">
                <div>
                    <p class="time">13.00</p>
                    <p class="program">Новости (с субтитрами)</p>
                </div>
                <div>
                    <p class="time">14.00</p>
                    <p class="program">Давай поженимся</p>
                </div>
                <div>
                    <p class="time">15.00</p>
                    <p class="program">Другие новости</p>
                </div> 
            </div>
          </div>
      </div>
    <div class="channel">
          <div class="channel-logo">
              <img src="img/1c.svg" alt="Первый канал">
          </div>
         
          <div class="channel-info">
          <h4 class="channel-title">Первый канал</h4>
            <div class="channel-schedule">
                <div>
                    <p class="time">13.00</p>
                    <p class="program">Новости (с субтитрами)</p>
                </div>
                <div>
                    <p class="time">14.00</p>
                    <p class="program">Давай поженимся</p>
                </div>
                <div>
                    <p class="time">15.00</p>
                    <p class="program">Другие новости</p>
                </div> 
            </div>
          </div>
      </div>

    </div>
  </div>
</div>
