<%- include("partials/header") -%>
<main class="tabs container">
  <div class="tab">
    <button class="tablinks active" onclick="openCity(event, 'Movies')">
      Фильмы
    </button>
    <button class="tablinks" onclick="openCity(event, 'channels')">
      Телеканалы
    </button>
  </div>
  <%- include("partials/firstTab") -%> <%- include("partials/secondTab") -%>
</main>
<%- include("partials/footer") -%>
